# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example
*.env

# Build outputs
dist/
build/
.vercel/
**/dist/
**/build/
**/.vercel/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
